<!DOCTYPE html>
<head >
	<meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registrarse</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body #bodyElement>
	<div class="form-container">
        <div class="content-arrow">
            <span class="mask-arrow"><a routerLink="/"><img src="../../../assets/img/arrow-left.png" alt=""></a></span>
            <div class="flecha"><a routerLink="/"><img src="../../../assets/img/arrow-left.png" alt=""></a></div>
        </div>
		<h1>Registrarse</h1>
		<form>
			<div class="input-box">
				<input type="text" id="name" name="name" required>
				<span>Nombres</span>
				<i></i>
			</div>

			<div class="input-box">
				<input type="text" id="LastName" name="LastName" required>
				<span>Apellidos</span>
				<i></i>
			</div>
			<div class="input-box">
				<input  type="text" [formControl]="email" required>
				<span>Correo Electrónico</span>
				<i></i>
			</div>	
			  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>	 
			  
			  
			  <div class="input-box">
				<input type="password" matInput [type]="hide ? 'password' : 'text'" required >
				<span>Contraseña</span>
				<i></i>
			</div>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			  </button>

			
			  <div class="input-box">
				<input type="password" matInput [type]="hide ? 'password' : 'text'" required >
				<span>Contraseña</span>
				<i></i>
			</div>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			  </button>
			  

			<div class="input-box">
				<input type="tel" id="celular" name="celular" required>
				<span>Celular</span>
				<i></i>
			</div>

            <div class="links">
                <a href="/login">¿Ya tienes una cuenta?Inicia Sesión</a>
            </div>

			<div class="content-register">
				<span class="mask-btn">Registrar</span>
				<input class ="botons" type ="submit" value="Registrar">
			</div>
		</form>
		
	</div>
</body>
